In [1]:
# M04 Programming Assignment - Modules and Databases
# Author: Xander Jewell
# Created: 2023-02-06
# This is the Programming Assignment for Module 4
# Includes: 11.1, 11.2, 16.8

In [7]:
# 11.1
# Importing the Zoo file
import zoo

# Calling the hours function
zoo.hours()

Open 9-5 daily

In [8]:
# 11.2
# Importing the module as menagerie
import zoo as menagerie
# Calling the hours function
menagerie.hours()

Open 9-5 daily

In [116]:
# 16.8 (16.3)
# Creating the csv file called books2.csv

text = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Mi√©ville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

with open('books2.csv', 'wt') as fileout:
    fileout.write(text)

In [117]:
# 16.8 (16.4)
# Creating a sqlite database named books
# Along with fields like text, author, and year

import sqlite3
db = sqlite3.connect('books.db')
curs = db.cursor()
curs.execute('''create table book (title text, 
            author text, year int)''')

In [118]:
db.commit()

In [121]:
# 16.8 (16.5)
# Reading books2.csv and
# inserting its data into the 
# book table

import csv
import sqlite3
ins_str = 'insert into book values(?, ?, ?)'

with open('books2.csv', 'rt') as filein:
   books = csv.DictReader(filein)

   for book in books:
     curs.execute(ins_str, (book['title'], 
            book['author'], book['year']))

In [122]:
db.commit()

In [123]:
# 16.8
# Using the sqlalchemy module to connect
# to the database we already made callled
# books0.db.
# Then we will print the titles in 
# alphabetical order.

import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')

sql = 'select title from book order by title asc'

rows = conn.execute(sql)
for row in rows:
    print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)